.mac-book-pro141-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mac-book-pro141-mac-book-pro141 {
  width: 100%;
  height: 4413px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(135deg, rgba(49, 49, 50, 1) 5%, rgba(22, 22, 24, 1) 100%);
}
.mac-book-pro141-snapinstaapp27881082163719291088826142937934533545 {
  top: -117px;
  left: 247px;
  width: 1080px;
  height: 1042px;
  position: absolute;
}
.mac-book-pro141-text {
  top: 66px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-frame1 {
  top: 332px;
  left: 818px;
  width: 569px;
  height: 285px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-rectangle2 {
  top: 253px;
  left: 25px;
  width: 136px;
  height: 2px;
  position: absolute;
}
.mac-book-pro141-text002 {
  top: 221px;
  left: 25px;
  color: rgba(239, 200, 98, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text004 {
  top: 5px;
  left: 25px;
  color: rgba(255, 255, 255, 1);
  width: 455px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text011 {
  top: 144px;
  left: 25px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-frame2 {
  top: 337px;
  left: 215px;
  width: 333px;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-text016 {
  top: 141px;
  left: 21px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text018 {
  top: 124px;
  left: 20px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text020 {
  top: 14px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-line1 {
  top: 46px;
  left: 23px;
  width: 290px;
  height: 1px;
  position: absolute;
}
.mac-book-pro141-line2 {
  top: 46px;
  left: 23px;
  width: 220px;
  height: 1px;
  position: absolute;
}
.mac-book-pro141-text022 {
  top: 51px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text024 {
  top: 51px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text026 {
  top: 73px;
  left: 20px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text028 {
  top: 90px;
  left: 20px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text030 {
  top: 107px;
  left: 21px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-line3 {
  top: -5px;
  left: 188.054443359375px;
  width: 930px;
  height: 1px;
  position: absolute;
}
.mac-book-pro141-linked-in-negative {
  top: 889px;
  left: 91px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.mac-book-pro141-instagram-negative {
  top: 844px;
  left: 91px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.mac-book-pro141-twitter-negative {
  top: 799px;
  left: 92px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.mac-book-pro141-facebook-negative {
  top: 754px;
  left: 92px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.mac-book-pro141-frame6 {
  top: 86px;
  left: 770px;
  width: 714px;
  height: 39px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-text032 {
  top: 1px;
  left: 141px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text034 {
  top: 1px;
  left: 284px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text036 {
  top: 1px;
  left: 404px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text038 {
  top: 1px;
  left: 525px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-search {
  top: 4px;
  left: 687px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.mac-book-pro141-rectangle1 {
  top: 28px;
  left: 14px;
  width: 68px;
  height: 2px;
  position: absolute;
}
.mac-book-pro141-text040 {
  top: 1px;
  left: 17px;
  color: rgba(239, 200, 98, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-rectangle17 {
  top: 958px;
  left: 74px;
  width: 1313px;
  height: 139px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
}
.mac-book-pro141-text042 {
  top: 1004px;
  left: 235px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-image1 {
  top: 1167px;
  left: 54px;
  width: 425px;
  height: 275px;
  position: absolute;
}
.mac-book-pro141-image2 {
  top: 1167px;
  left: 545px;
  width: 498px;
  height: 275px;
  position: absolute;
}
.mac-book-pro141-image3 {
  top: 1150px;
  left: 1093px;
  width: 328px;
  height: 292px;
  position: absolute;
}
.mac-book-pro141-text044 {
  top: 1490px;
  left: 39px;
  color: rgba(255, 255, 255, 1);
  width: 400px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text046 {
  top: 1497px;
  left: 611px;
  color: rgba(255, 255, 255, 1);
  width: 400px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text048 {
  top: 1498px;
  left: 1048px;
  color: rgba(255, 255, 255, 1);
  width: 400px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text050 {
  top: 1461px;
  left: 131px;
  color: rgba(239, 200, 98, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text052 {
  top: 1460px;
  left: 719px;
  color: rgba(239, 200, 98, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text054 {
  top: 1455px;
  left: 1175px;
  color: rgba(239, 200, 98, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-frame9 {
  top: 2393px;
  left: 0px;
  width: 1496px;
  height: 2020px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-frame7 {
  top: 1386px;
  left: 137px;
  width: 1359px;
  height: 225px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-rectangle3 {
  top: 2px;
  left: 6px;
  width: 1353px;
  height: 223px;
  position: absolute;
}
.mac-book-pro141-frame3 {
  top: 45px;
  left: 60px;
  width: 287px;
  height: 89px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-text056 {
  top: 7px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text058 {
  top: 50px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text060 {
  top: 29px;
  left: 7px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-frame4 {
  top: 50px;
  left: 397px;
  width: 287px;
  height: 89px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-text062 {
  top: 7px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text064 {
  top: 50px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text066 {
  top: 29px;
  left: 7px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-frame5 {
  top: 45px;
  left: 1048px;
  width: 287px;
  height: 89px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-text068 {
  top: 6px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text070 {
  top: 34px;
  left: 7px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text075 {
  top: 134px;
  left: 1055px;
  color: rgba(239, 200, 98, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Sintony;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-rectangle4 {
  top: 2px;
  left: 734px;
  width: 250px;
  height: 223px;
  position: absolute;
}
.mac-book-pro141-rectangle5 {
  top: 1015px;
  left: 1px;
  width: 1353px;
  height: 223px;
  position: absolute;
}
.mac-book-pro141-rectangle11 {
  top: 1730px;
  left: 0px;
  width: 1496px;
  height: 285px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro141-text077 {
  top: 1832px;
  left: 959px;
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text084 {
  top: 1832px;
  left: 659px;
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text095 {
  top: 1783px;
  left: 959px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text097 {
  top: 1832px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  width: 293px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text099 {
  top: 1783px;
  left: 1235px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text101 {
  top: 1783px;
  left: 659px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text103 {
  top: 1770px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  width: 266px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text105 {
  top: 1832px;
  left: 1235px;
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text112 {
  top: 1983px;
  left: 577px;
  color: rgba(255, 255, 255, 1);
  width: 291px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-rectangle12 {
  top: 1064px;
  left: 39px;
  width: 1153px;
  height: 129px;
  position: absolute;
  border-radius: 100px;
}
.mac-book-pro141-rectangle13 {
  top: 1062px;
  left: 697px;
  width: 495px;
  height: 129px;
  position: absolute;
  border-radius: 100px;
}
.mac-book-pro141-text114 {
  top: 1104px;
  left: 15px;
  color: rgba(255, 255, 255, 1);
  width: 468px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text116 {
  top: 1104px;
  left: 712px;
  color: rgba(239, 200, 98, 1);
  width: 469px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-rectangle14 {
  top: 269px;
  left: 1px;
  width: 1491px;
  height: 586px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.mac-book-pro141-rectangle15 {
  top: 276px;
  left: 664px;
  width: 828px;
  height: 571px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(239, 200, 98, 1);
  border-style: solid;
  border-width: 4px;
}
.mac-book-pro141-pin {
  top: 361px;
  left: 106px;
  width: 86px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-subtract {
  top: 15px;
  left: 17.916667938232422px;
  width: 50px;
  height: 60px;
  position: absolute;
}
.mac-book-pro141-messagelight {
  top: 1062px;
  left: 760px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-rectangle11 {
  top: 6px;
  left: 4px;
  width: 16px;
  height: 12px;
  position: absolute;
  border-color: rgba(34, 34, 34, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.mac-book-pro141-vector3 {
  top: 9px;
  left: 4px;
  width: 16px;
  height: 4px;
  position: absolute;
}
.mac-book-pro141-messagelight1 {
  top: 1062px;
  left: 760px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-rectangle12 {
  top: 6px;
  left: 4px;
  width: 16px;
  height: 12px;
  position: absolute;
  border-color: rgba(34, 34, 34, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.mac-book-pro141-vector31 {
  top: 9px;
  left: 4px;
  width: 16px;
  height: 4px;
  position: absolute;
}
.mac-book-pro141-messagelight2 {
  top: 394px;
  left: 384px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-rectangle13 {
  top: -12px;
  left: 29px;
  width: 66px;
  height: 47px;
  position: absolute;
  border-color: rgba(239, 200, 98, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}
.mac-book-pro141-vector32 {
  top: 0px;
  left: 29px;
  width: 66px;
  height: 15px;
  position: absolute;
}
.mac-book-pro141-phonelight {
  top: 521px;
  left: 228px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.mac-book-pro141-linked-in-negative1 {
  top: 605px;
  left: 418px;
  width: 57px;
  height: 53px;
  position: absolute;
}
.mac-book-pro141-text118 {
  top: 463px;
  left: 54px;
  color: rgba(239, 200, 98, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text120 {
  top: 458px;
  left: 360px;
  color: rgba(239, 200, 98, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text125 {
  top: 692px;
  left: 94px;
  color: rgba(239, 200, 98, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text127 {
  top: 685px;
  left: 360px;
  color: rgba(239, 200, 98, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text129 {
  top: 117px;
  left: 406px;
  color: rgba(255, 255, 255, 1);
  width: 733px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text131 {
  top: 179px;
  left: 372px;
  color: rgba(255, 255, 255, 1);
  width: 844px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-rectangle16 {
  top: 238px;
  left: 41px;
  width: 1427px;
  height: 3px;
  position: absolute;
}
.mac-book-pro141-frame8 {
  top: 66px;
  left: 0px;
  width: 54px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-pro141-rectangle18 {
  top: 1737px;
  left: 56px;
  width: 1365px;
  height: 655px;
  position: absolute;
}
.mac-book-pro141-text133 {
  top: 1809px;
  left: 215px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-line4 {
  top: 1833.9471435546875px;
  left: 195px;
  width: 233px;
  height: 1px;
  position: absolute;
}
.mac-book-pro141-image4 {
  top: 1737px;
  left: 455px;
  width: 961px;
  height: 294px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(239, 200, 98, 1);
  border-style: solid;
  border-width: 4px;
}
.mac-book-pro141-text135 {
  top: 1881px;
  left: -34px;
  color: rgba(255, 255, 255, 1);
  width: 458px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-text142 {
  top: 2085px;
  left: 177px;
  color: rgba(255, 255, 255, 1);
  width: 1143px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro141-rectangle19 {
  top: 2289px;
  left: 606px;
  width: 269px;
  height: 66px;
  position: absolute;
  border-radius: 100px;
}
.mac-book-pro141-text147 {
  top: 2298px;
  left: 637px;
  color: rgba(0, 0, 0, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
